@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/Norms/TTNorms-Regular.ttf') format('truetype');
}
