//fonts
$basic-family: "Roboto", "Arial", "Helvetica", "Oswald", sans-serif;
$second-family: "TT Norms", Arial, sans-serif;
$arial-family: Arial, sans-serif, "Oswald";
//container
$container-max-width: 320px;
$container-min-width: 2560px;

//bacgrounds
$body-bg: #ff55;
$header-bg: #0d0d0d;
$button-bg: #1d1c1c;
$portfolio-bg: #0D0D0D;
$portfolio-bg-red: #E43232;
$portfolio-line: #BFA372;



//color
$header-color-white: #ffffff;
$button-color-gold: #bfa372;
$button-color-white: #ffffff;
$nav-color-wihte: #ffffff;
$link-color-black: #181717;
$link-color-gold: #bfa372;
$link-color-white: #ffffff;
$info-color-black: #181717;
//media
$xs: 350px;
$sm: 556px;
$md: 768px;
$lg: 1200px;
