.header {
  background-color: $header-bg;
  position: relative;
}
.header__top {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  margin-left: 65px;
}
.header__select {
  margin-right: 254px;
  margin-left: 121px;
  background-color: transparent;
  border: none;
  color: $header-color-white;
}
.header__option {
  background-color: transparent;
  color: $header-color-white;
}
.header__nav {
  flex-grow: 1;
}
.header__wrap {
  position: relative;
}
.header__burger {
  display: none;
}
.header__button {
  max-width: 390px;
  margin-left: 143px;
  position: relative;
  display: flex;
}
.header__button::after {
  position: absolute;
  content: " ";
  background: url(../img/header/line.svg) no-repeat;
  right: 91px;
  bottom: 32px;
  width: 92px;
  height: 6px;
}
.header__title1 {
  position: absolute;
  top: 27%;
  color: white;
  @include font(268px, 416px, 700, $second-family);
  left: -13%;
}
.header__dot {
  @include font(268px, 416px, 700, $second-family);
  color: #bfa372;
}
.header__title2 {
  position: absolute;
  top: 45%;
  color: white;
  @include font(268px, 416px, 700, $second-family);
  right: -27%;
}
.header__title3 {
  position: absolute;
  top: 65%;
  color: white;
  @include font(268px, 416px, 700, $second-family);
  left: 1%;
}
.header__transparant {
  @include font(268px, 416px, 700, $second-family);
  color: transparent;
  -webkit-text-stroke: 1px white;
}
.header__subtitle {
  @include font(12px, 14px, 400, $second-family);
  color: #ffffff;
  position: absolute;
  top: 14%;
  left: 10px;
  transform: rotate(-90deg);
}
.header__back {
}
.header__img {
  width: 100%;
  display: block;
}
