.header {
  background-color: $header-bg;
  position: relative;
}
.header::after {
  background: url(../img/header/background2.png) left 26% center/cover no-repeat;
  position: absolute;
  content: " ";
  top: -72px;
  left: 0;
  height: 2368px;
  width: 100%;
}
// .header__top {
//   position: absolute;
//   left: 50%;
//   transform: translate(-50%);
//   z-index: 1;
// }
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  margin-left: 65px;
  align-self: self-start;
  padding-top: 21px;
}
.header__select {
  margin-right: 229px;
  margin-left: 118px;
  background-color: transparent;
  border: none;
  color: $header-color-white;
  @include font(18px, 21px, 500, $second-family);
  align-self: start;
  margin-top: 27px;
}
.header__option {
  background-color: transparent;
  color: $header-color-white;
}
.header__nav {
  flex-grow: 1;
}
.header__wrap {
  position: relative;
}
.header__burger {
  display: none;
}
.header__button {
  max-width: 390px;
  margin-left: 143px;
  position: relative;
  display: flex;
}
.header__button::after {
  position: absolute;
  content: " ";
  background: url(../img/header/line.svg) no-repeat;
  right: 76px;
  bottom: 30px;
  width: 92px;
  height: 6px;
}
.header__container-center {
  min-height: 1144px;
  position: relative;
}
.header__title1 {
  position: absolute;
  top: 14%;
  color: #fff;
  @include font(268px, 416px, 700, $second-family);
  left: 22%;
  z-index: 10;
}
.header__dot {
  @include font(268px, 416px, 700, $second-family);
  color: #bfa372;
}
.header__title2 {
  position: absolute;
  top: 36%;
  color: white;
  @include font(268px, 416px, 700, $second-family);
  right: 22%;
  z-index: 10;
}
.header__title3 {
  position: absolute;
  top: 60%;
  color: white;
  @include font(268px, 416px, 700, $second-family);
  left: 40%;
  z-index: 10;
}
.header__transparant {
  @include font(268px, 416px, 700, $second-family);
  color: transparent;
  -webkit-text-stroke: 1px white;
}
.header__subtitle {
  @include font(12px, 14px, 400, $second-family);
  color: #ffffff;
  position: absolute;
  top: 10%;
  left: -13px;
  transform: rotate(-90deg);
  letter-spacing: 0.1em;
}
.header__back {
}
.header__img {
  width: 100%;
  display: block;
}
