.info {
  background-color: #ffffff;
  position: relative;
}
.info__container {
  padding-top: 204px;
  padding-bottom: 240px;
  padding-left: 308px;
  padding-right: 456px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info__logo {
  width: 464px;
  height: 91px;
  display: block;
  object-fit: cover;
  margin-bottom: 42px;
}
.info__title {
  @include font(45px, 53px, 400, $second-family);
  color: $info-color-black;
  margin-bottom: 85px;
}
.info__subtitle {
  @include font(28px, 44px, 400, $second-family);
  color: $info-color-black;
  max-width: 862px;
  margin-bottom: 115px;
}
.info__wrap-img {
  padding-top: 40px;
}
